/* =============
    Base
============= */


.container{
    display:grid;
    grid-template-columns: 0px auto 0px;
    grid-template-areas: 
    ". content ."
    ;
    .content{
        grid-area:content;
    }
}